body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  margin-bottom: 40px;
  text-align: center;
  border-collapse: collapse;
}

td,
th {
  padding: 5px 20px;
}

thead {
  background: #ddd;
}
tbody tr {
  border-bottom: 1px solid #ddd;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ddd;
}
section div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 600px;
  margin-bottom: 20px;
}
input {
  width: 40%;
}
button {
  background-color: blueviolet;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 3px;
}
button:active {
  background-color: rgb(109, 27, 187);
}
